{% extends 'myparking/base_generic.html' %}

{% block title %}Политика конфиденциальности{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title mb-4 text-center">Политика конфиденциальности</h2>
                    <p class="text-center">Страница находится в разработке.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 